* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

[class*="col-"] {
    float: left;
    padding: 15px;
}

.row:after {
    content: "";
    clear: both;
    display: table;
}

.row {
    top: 56px;
}

#header {
    width: 100%;
    height: 56px;
    background-color: #fff;
    position: fixed;
}

#navbar_left {
    background-color: aqua;
    height: 1000px;
    margin-top: 56px;
}
#content {
    background-color: red;
    height: 1000px;
    margin-top: 56px;
}
#navbar_right {
    background-color: #cccccc;
    height: 1000px;
    margin-top: 56px;
}

@media all and (min-width: 882px) and (max-width: 1024px){
    #navbar_left {
        display: none;
    }
}

@media all and (max-width: 881px){

    #navbar_left {
        display: none;
    }
    #navbar_right {
        display: none;
    }
}

